body {
    /* background-color: #345B63; */
   border-radius: 5px;
   /* background-color: #010B13; */
   background-color: ghostwhite;
   transition-property: background-color;
   transition-duration: 4s;
    
}

hr {
    height: 2%;
    width: 50%;
    color: ghostwhite;
    display: inline-block;
    z-index: 1;
    border: solid ghostwhite;
}

.green {
    transition-property: color;
   transition-duration: 4s;
}
body:hover {
    background-color: #A6F0C6;
}

body:hover .green {
    color: #A6F0C6;
}

.green:hover {
    color: #A6F0C6;
}

.pallet {
    background-color: #010B13;
    margin: 20px;
    border-radius: 5px;
}

.photo {
    
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20px;
}

/* Navigation */

.navbar {
    padding: 0 0 4.5rem;
    
}

.nav-item {
    padding: 0px 18px;
    color:ghostwhite;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Georama', sans-serif;
    color: ghostwhite;
}

.name {
    color: ghostwhite;
    font-size: 2.5rem;
    font-family: 'Georama', sans-serif;
    font-weight: bold;
    /* margin-right: 50%;
    margin: 20px 45% 0 50px; */
}
.logo {
    height: 65px;
    width: 65px;
    border-radius: 5px;
}

/* Containers */

.container-fluid {
    padding: 3% 10% 7%;
    
}

/* About Section */

.greetings {
    font-family: 'Georama', sans-serif;
    text-align: center;
    color: ghostwhite;
    margin-top: 5%;
    font-size: 3.5rem;
  
}

.myName {
    font-family: 'Ephesis', cursive;
    font-size: 4.5rem;
    transition-property: color;
    transition-duration: 4s;
    color: ghostwhite;
}

.myName:hover {
    color: #A6F0C6;
}

.personalStatement {
    color: ghostwhite;
    margin: 3% 15%;
    font-family: 'Georama', sans-serif;
    font-size: 1.625rem;
}

.sectionHead {
    color: ghostwhite;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
}

/* Puts a hr on each side of header */
.sectionHead > span{
    position:relative;
    display: inline-block;
}
.sectionHead > span:before, .sectionHead > span:after {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 100vw;
    height: 1px;
    content: '';
    background-color: ghostwhite;
    border-bottom: 2px solid;
    margin: 0 20px;
}

.sectionHead > span:before {
    right: 100%;
}

.sectionHead > span:after {
    left: 100%;
}

/* Experience Section */

.experience, .col-lg-6{
    color: ghostwhite;
    
}